<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.computer.mapper.WorksheetMapper" >
  <resultMap id="BaseResultMap" type="com.system.computer.pojo.Worksheet" >
    <id column="worksheet_id" property="worksheetId" jdbcType="INTEGER" />
    <result column="worksheet_content" property="worksheetContent" jdbcType="VARCHAR" />
    <result column="worksheet_approval" property="worksheetApproval" jdbcType="TINYINT" />
    <result column="worksheet_admin" property="worksheetAdmin" jdbcType="INTEGER" />
    <result column="worksheet_user" property="worksheetUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    worksheet_id, worksheet_content, worksheet_approval, worksheet_admin, worksheet_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.system.computer.pojo.WorksheetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from worksheet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from worksheet
    where worksheet_id = #{worksheetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from worksheet
    where worksheet_id = #{worksheetId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.system.computer.pojo.WorksheetExample" >
    delete from worksheet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.system.computer.pojo.Worksheet" >
    insert into worksheet (worksheet_id, worksheet_content, worksheet_approval, 
      worksheet_admin, worksheet_user)
    values (#{worksheetId,jdbcType=INTEGER}, #{worksheetContent,jdbcType=VARCHAR}, #{worksheetApproval,jdbcType=TINYINT}, 
      #{worksheetAdmin,jdbcType=INTEGER}, #{worksheetUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.system.computer.pojo.Worksheet" >
    insert into worksheet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="worksheetId != null" >
        worksheet_id,
      </if>
      <if test="worksheetContent != null" >
        worksheet_content,
      </if>
      <if test="worksheetApproval != null" >
        worksheet_approval,
      </if>
      <if test="worksheetAdmin != null" >
        worksheet_admin,
      </if>
      <if test="worksheetUser != null" >
        worksheet_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="worksheetId != null" >
        #{worksheetId,jdbcType=INTEGER},
      </if>
      <if test="worksheetContent != null" >
        #{worksheetContent,jdbcType=VARCHAR},
      </if>
      <if test="worksheetApproval != null" >
        #{worksheetApproval,jdbcType=TINYINT},
      </if>
      <if test="worksheetAdmin != null" >
        #{worksheetAdmin,jdbcType=INTEGER},
      </if>
      <if test="worksheetUser != null" >
        #{worksheetUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.system.computer.pojo.WorksheetExample" resultType="java.lang.Integer" >
    select count(*) from worksheet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update worksheet
    <set >
      <if test="record.worksheetId != null" >
        worksheet_id = #{record.worksheetId,jdbcType=INTEGER},
      </if>
      <if test="record.worksheetContent != null" >
        worksheet_content = #{record.worksheetContent,jdbcType=VARCHAR},
      </if>
      <if test="record.worksheetApproval != null" >
        worksheet_approval = #{record.worksheetApproval,jdbcType=TINYINT},
      </if>
      <if test="record.worksheetAdmin != null" >
        worksheet_admin = #{record.worksheetAdmin,jdbcType=INTEGER},
      </if>
      <if test="record.worksheetUser != null" >
        worksheet_user = #{record.worksheetUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update worksheet
    set worksheet_id = #{record.worksheetId,jdbcType=INTEGER},
      worksheet_content = #{record.worksheetContent,jdbcType=VARCHAR},
      worksheet_approval = #{record.worksheetApproval,jdbcType=TINYINT},
      worksheet_admin = #{record.worksheetAdmin,jdbcType=INTEGER},
      worksheet_user = #{record.worksheetUser,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.computer.pojo.Worksheet" >
    update worksheet
    <set >
      <if test="worksheetContent != null" >
        worksheet_content = #{worksheetContent,jdbcType=VARCHAR},
      </if>
      <if test="worksheetApproval != null" >
        worksheet_approval = #{worksheetApproval,jdbcType=TINYINT},
      </if>
      <if test="worksheetAdmin != null" >
        worksheet_admin = #{worksheetAdmin,jdbcType=INTEGER},
      </if>
      <if test="worksheetUser != null" >
        worksheet_user = #{worksheetUser,jdbcType=INTEGER},
      </if>
    </set>
    where worksheet_id = #{worksheetId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.computer.pojo.Worksheet" >
    update worksheet
    set worksheet_content = #{worksheetContent,jdbcType=VARCHAR},
      worksheet_approval = #{worksheetApproval,jdbcType=TINYINT},
      worksheet_admin = #{worksheetAdmin,jdbcType=INTEGER},
      worksheet_user = #{worksheetUser,jdbcType=INTEGER}
    where worksheet_id = #{worksheetId,jdbcType=INTEGER}
  </update>
</mapper>